/* Global Selectors */
* {
    display: block;
    margin: 0;
    padding: 0;
}

title {
    display: none;
}

body {
    background: white;
    color: white;
}

/* Header Section */
header {
    background-color: rgb(44, 44, 44); 
    display: flex;
    justify-content: space-between;
}

h1 {
    background-color: skyblue;
    color: rgb(44, 44, 44);
    padding: 0 5px 0 50px;
    margin: 10px 0;
}

nav {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

nav a {
    margin: 0 20px;
    color: skyblue;
    text-decoration: none;
    border-bottom: 2px solid black;
    border-color: skyblue;
}

nav a:hover {
    color: blue;
}

/* Hero Image */
#hero {
    background-image: url(../images/hero_image.jpg);
    background-size: auto;
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-position-x: 85%;
    background-position-y: 50%;
}

#hero img {
    color: transparent;
}

#hero h2 {
    margin: 0 80px 25px 0;
    background-color: skyblue;
    color: black;
    padding: 5px 5px 5px 3px;
}


/* Main section */
main {
    display: block;
}

section {
    background-color: blueviolet;
    margin-bottom: 10%;
}

